<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>{{title}}</title>

    <style>
      img {
        height: auto;
        max-width: 100%;
      }

      a {
        color: #212121;
        text-decoration: underline;
        text-decoration-color: #ff0000;
        transition: all 0.2s ease-in-out;
      }

      a:hover {
        color: #ff0000 !important;
        text-decoration-color: #212121 !important;
      }

      a.btn {
        background: #ff0000;
        border-radius: 2px;
        color: #ffffff;
        display: inline-block;
        padding: 8px 20px;
        text-decoration: none;
      }

      a.btn:hover {
        background: #b51f1f !important;
        color: #ffffff !important;
      }

      a.btn.btn-action {
        background: #ffffff;
        border: 1px solid #707070;
        color: #212121;
      }

      a.btn.btn-action:hover {
        background: #E6E6E6 !important;
        color: #212121 !important;
      }

      u + #body a {
        color: #212121;
        text-decoration: underline;
        text-decoration-color: #ff0000;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
      }

      .template-container {
        max-width: 640px !important;
      }

      @media only screen and (min-width:768px) {
        .template-container {
          width:640px !important;
        }
      }

      {{#> extra-style-block}}
      {{/extra-style-block}}
    </style>
  </head>

  <body id="body" style="border: 0; margin: 0; padding: 0;">
    <table style="border-collapse: collapse; color: #212121; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.3em; max-width: 100%;" width="100%">
      <tr>
        <td align="center" style="padding: 20px;">

          <table class="template-container" style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
            {{#> content-block}}
            {{/content-block}}
          </table>

        </td>
      </tr>
    </table>
  </body>

</html>
