{{#> layouts/base title="Email template – Memento Events reminder - EPFL" }}

  {{#*inline "content-block"}}

    {{> includes/online-version }}
    {{> includes/header app_title="Memento" }}
    {{> includes/spacer }}

    <tr>
      <td>
        <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
          <tr>
            <td style="padding: 10px 0px 30px;">
              <h2 style="font-size: 24px; line-height: 28px; margin: 0;">
                Reminder of the event
              </h2>
            </td>
          </tr>
        </table>

        <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
          <tr>
            <td style="border: solid #e6e6e6; border-width: 1px 1px 0 1px; padding: 20px 20px 20px 20px;" valign="top" width="100%" >
              <a href="https://memento.epfl.ch/event/comprehensive-interactive-soft-interfaces-for-we-2/">
                <img height="360" src="https://memento.epfl.ch/image/19424/640x360.jpg" style="height: auto; max-width: 100%;" width="640">
              </a>
            </td>
          </tr>

          <tr>
            <td style="border: solid #e6e6e6; border-width: 0 1px 1px 1px; padding: 0 20px 20px 20px;" valign="top" width="100%">
              <h3 style="font-size: 22px; font-weight: bold; line-height: 28px; margin: 6px 0;">
                <a href="https://memento.epfl.ch/event/comprehensive-interactive-soft-interfaces-for-we-2/" style="color: #212121; text-decoration: underline; text-decoration-color: #ff0000;">
                  Comprehensive Interactive Soft Interfaces for Wearable Tactile Feedback
                </a>
              </h3>
            </td>
          </tr>

          <tr>
            <td style="background: #e6e6e6; border: solid #e6e6e6; border-width: 0 1px 0 1px; padding: 20px;" valign="top" width="100%">
              <p style="font-size: 15px; line-height: 20px; margin: 0 0 10px;">
                29.07.2021 – 15:00
              </p>
              <p style="margin: 0 0 5px; font-size: 14px; line-height: 18px;">
                Speaker: <strong>Harshal Arun SONAR</strong>
              </p>
              <p style="font-size: 14px; line-height: 18px; margin: 0 0 5px;">
                Category: <strong>Thesis defenses</strong>
              </p>
              <p style="font-size: 14px; line-height: 18px; margin: 0;">
                Place and room: Zoom meeting
              </p>
            </td>
          </tr>

          <tr>
            <td style="border: solid #e6e6e6; border-width: 0 1px 1px 1px; padding: 20px;" valign="top" width="100%">
              <p style="margin: 0 0 15px; font-size: 15px; line-height: 20px;">
                Thesis Director: Prof. J. Paik,<br>
                Robotics, Control and Intelligent Systems doctoral program<br>
                Thesis Nr.&nbsp;10806<br>
                <br>
                To take part in the public defense, please contact directly the speaker
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    {{> includes/spacer }}
    {{> includes/copyright }}

  {{/inline}}

{{/layouts/base}}
