{{#> layouts/base title="Email template – Memento Events awaiting moderation - EPFL" }}

  {{#*inline "content-block"}}

    {{> includes/header app_title="Memento" }}
    {{> includes/spacer }}

    <tr>
      <td>
        <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
          <tr>
            <td style="padding: 0 0 20px 0;">
              <p style="margin: 0 0 10px; font-size: 16px; line-height: 21px; font-weight: bold;">
                Event awaiting moderation
              </p>
              <p style="margin: 0; font-size: 15px; line-height: 20px;">
                The following event is awaiting moderation in memento EPFL.
              </p>
            </td>
          </tr>
        </table>

        <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
          <tr>
            <td style="border: solid #e6e6e6; border-width: 1px 1px 0 1px; padding: 20px 20px 20px 20px;" valign="top" width="100%" >
              <a href="https://memento.epfl.ch/event/disrupt-co-design-the-future-of-health/">
                <img height="360" src="https://memento.epfl.ch/image/16704/640x360.jpg" style="height: auto; max-width: 100%;" width="640">
              </a>
            </td>
          </tr>

          <tr>
            <td style="border: solid #e6e6e6; border-width: 0 1px 1px 1px; padding: 0 20px 20px 20px;" valign="top" width="100%">
              <h3 style="font-size: 22px; font-weight: bold; line-height: 28px; margin: 6px 0;">
                <a href="https://memento.epfl.ch/event/disrupt-co-design-the-future-of-health/" style="color: #212121; text-decoration: underline; text-decoration-color: #ff0000;">
                  Disrupt &amp; Co-Design – The Future of Health
                </a>
              </h3>
            </td>
          </tr>

          <tr>
            <td style="background: #e6e6e6; border: solid #e6e6e6; border-width: 0 1px 0 1px; padding: 20px;" valign="top" width="100%">
              <p style="font-size: 15px; line-height: 20px; margin: 0 0 10px;">
                23.06.2020 – 17:00 › 19:00
              </p>
              <p style="font-size: 14px; line-height: 18px; margin: 0;">
                Category: <strong>Conferences - Seminars</strong>
              </p>
              <p style="font-size: 14px; line-height: 18px; margin: 5px 0 0;">
                Speaker: <a href="https://www.linkedin.com/in/michaelfriedrich81/">Michael Friedrich</a><br>
                         <a href="https://www.linkedin.com/in/carmela-troncoso-b497975/">Carmela Troncoso</a><br>
                         <strong>Corporate &amp; Industry Challenges with Prizes<br>
                         Charity Kufaas</strong>&nbsp;– Vice President, BD &amp; Strategy EMEA at Medtronic<br>
                         <strong>Nicolas Loeillot</strong>&nbsp;– Chief Innovation Officer at Groupe Mutuel<br>
                         <strong>Thierry Dagaeff</strong>&nbsp;– Innovation Manager of SILAB, Institut et Haute Ecole de la Santé La Source
              </p>
              <p style="font-size: 14px; line-height: 18px; margin: 5px 0 0;">
                Place and room: <strong>Online</strong>
              </p>
            </td>
          </tr>

          <tr>
            <td style="border: solid #e6e6e6; border-width: 0 1px 1px 1px; padding: 20px;" valign="top" width="100%">
              <p style="margin: 0 0 15px; font-size: 15px; line-height: 20px;">
                A 2-hour online event on <strong>The Future of Health</strong> – Help us disrupt and co-design the next solution.<br>
                <a href="https://epfl-innovationpark.ch">EPFL Innovation Park</a> and
                <a href="https://www.innosuisse.ch/inno/en/home.html">Innosuisse</a> are inviting you to listen to the innovative
                health solutions proposed by bold entrepreneurs and to think about new creative ideas that could improve the
                future of health.<br><br>
                On this occasion, you can come up with daring solutions and participate in one of our 3 challenges sponsored
                by&nbsp;<a href="https://www.groupemutuel.ch/">Groupe Mutuel</a>,
                <a href="https://www.medtronic.com/us-en/index.html">Medtronic</a> and
                <a href="https://www.ecolelasource.ch/en">La Source, School of Nursing</a>.
                The winning ideas will receive prizes ranging from 1'000 to 2'000 CHF.<br><br>
                The online event will be held in&nbsp;<strong>English</strong>. Registration is mandatory and please
                indicate your preference for the breakout challenge sessions, so that we can aim to take into account
                your preference. Register latest by June 22nd midnight at:
                <a href="https://bit.ly/FutureOfHealthEvent">https://bit.ly/FutureOfHealthEvent</a>
              </p>
            </td>
          </tr>

          <tr>
            <td style="border: solid #e6e6e6; border-width: 0 1px 1px 1px; padding: 20px;" valign="top" width="100%">
              <p style="font-size: 15px; margin: 0 0 10px; text-align: center;">
                <a class="btn btn-action" href="https://memento.epfl.ch" style="background: #ffffff; border: 1px solid #707070; border-radius: 2px; color: #212121; display: inline-block; margin: 2px 3px; padding: 4px 10px 4px 6px; text-decoration: none;">
                  <img height="21" src="https://memento.epfl.ch/static/img/accept-event-button.png" style="margin: 0 5px 0 0; vertical-align: bottom;" width="21">
                  Accept in EPFL
                </a>
                <a class="btn btn-action" href="https://memento.epfl.ch" style="background: #ffffff; border: 1px solid #707070; border-radius: 2px; color: #212121; display: inline-block; margin: 2px 3px; padding: 4px 10px 4px 6px; text-decoration: none;">
                  <img height="21" src="https://memento.epfl.ch/static/img/reject-event-button.png" style="margin: 0 5px 0 0; vertical-align: bottom;" width="21">
                  Refuse in EPFL
                </a>
                <a class="btn btn-action" href="https://memento.epfl.ch" style="background: #ffffff; border: 1px solid #707070; border-radius: 2px; color: #212121; display: inline-block; margin: 2px 3px; padding: 4px 10px 4px 6px; text-decoration: none;">
                  <img height="21" src="https://memento.epfl.ch/static/img/icon_edit.gif" style="margin: 0 5px 0 0; vertical-align: bottom;" width="21">
                  Edit
                </a>
              </p>
              <p style="font-size: 15px; margin: 0; text-align: center;">
                <a href="https://memento.epfl.ch" style="color: #212121; text-decoration: underline; text-decoration-color: #ff0000;">
                  Access the moderation interface
                </a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    {{> includes/spacer }}
    {{> includes/copyright }}

  {{/inline}}

{{/layouts/base}}
