{{#> layouts/base title="Email template – Memento Events - EPFL" }}

  {{#*inline "content-block"}}

    {{> includes/header app_title="Memento" }}
    {{> includes/spacer }}

    <tr>
      <td>
        <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
          <tr>
            <td style="padding: 20px 0 20px 0;">
              <h2 style="font-size: 24px; line-height: 28px; margin: 0;">Digest memento EPFL</h2>
            </td>
          </tr>
        </table>

        <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
          <tr>
            <td style="padding: 40px 0 20px 0;">
              <h3 style="font-size: 20px; line-height: 28px; margin: 0;">Conferences - Seminars</h3>
            </td>
          </tr>
        </table>

        <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
          <tr>
            <td style="border: solid #e6e6e6; border-width: 1px 1px 0 1px; padding: 20px 20px 20px 20px;" valign="top" width="100%">
              <a href="https://memento.epfl.ch/event/tech4growth-health-2/">
                <img height="360" src="https://memento.epfl.ch/image/18443/640x360.jpg" style="height: auto; max-width: 100%;" width="640">
              </a>
            </td>
          </tr>
          <tr>
            <td style="border: solid #e6e6e6; border-width: 0 1px 1px 1px; padding: 0 20px 20px 20px;" valign="top" width="100%">
              <h3 style="font-size: 18px; font-weight: bold; line-height: 24px; margin: 0 0 10px 0;">
                <a href="https://memento.epfl.ch/event/tech4growth-health-2/" style="color: #212121; text-decoration: underline; text-decoration-color: #ff0000;">
                  Tech4Growth Health
                </a>
              </h3>
              <p style="color: #ff0000; font-size: 15px; line-height: 20px; margin: 0 0 10px;">
                This event is canceled.
              </p>
            </td>
          </tr>
          <tr>
            <td style="border: solid #e6e6e6; border-width: 1px 1px 0 1px; padding: 20px 20px 20px 20px;" valign="top" width="100%">
              <a href="https://memento.epfl.ch/event/seminar-series-climact-ideas-actions-jonathan-no-2/">
                <img height="360" src="https://memento.epfl.ch/image/19164/640x360.jpg" style="height: auto; max-width: 100%;" width="640">
              </a>
            </td>
          </tr>
          <tr>
            <td style="border: solid #e6e6e6; border-width: 0 1px 1px 1px; padding: 0 20px 20px 20px;" valign="top" width="100%">
              <h3 style="font-size: 18px; font-weight: bold; line-height: 24px; margin: 0 0 10px 0;">
                <a href="https://memento.epfl.ch/event/seminar-series-climact-ideas-actions-jonathan-no-2/" style="color: #212121; text-decoration: underline; text-decoration-color: #ff0000;">
                  Seminar Series “CLIMACT Ideas & Actions” – Jonathan Normand & Julia Binder
                </a>
              </h3>
              <p style="font-size: 15px; line-height: 20px; margin: 0 0 10px;">
                31.05.2021 – 12:00 › 13:00
              </p>
              <p style="font-size: 14px; line-height: 18px; margin: 0 0 5px;">
                Speaker: <strong>Jonathan Normand </strong>Executive Director of B Lab Switzerland<br>
                <strong>Julia Binder </strong>Head of EPFL Tech4Impact &amp; member of the Vice-Presidency for Innovation, EPFL.
              </p>
              <p style="font-size: 14px; line-height: 18px; margin: 0;">
                Place and room: <strong>Zoom</strong>
              </p>
            </td>
          </tr>
        </table>

        <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
          <tr>
            <td style="padding: 40px 0 20px 0;">
              <h3 style="font-size: 20px; line-height: 28px; margin: 0;">Exhibitions</h3>
            </td>
          </tr>
        </table>

        <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
          <tr>
            <td style="border: solid #e6e6e6; border-width: 1px 1px 0 1px; padding: 20px 20px 20px 20px;" valign="top" width="100%">
              <a href="https://memento.epfl.ch/event/langbaumann-up-4-2/">
                <img height="360" src="https://memento.epfl.ch/image/16702/640x360.jpg" style="height: auto; max-width: 100%;" width="640">
              </a>
            </td>
          </tr>
          <tr>
            <td style="border: solid #e6e6e6; border-width: 0 1px 1px 1px; padding: 0 20px 20px 20px;" valign="top" width="100%">
              <h3 style="font-size: 18px; font-weight: bold; line-height: 24px; margin: 0 0 10px 0;">
                <a href="https://memento.epfl.ch/event/langbaumann-up-4-2/" style="color: #212121; text-decoration: underline; text-decoration-color: #ff0000;">
                  Lang/Baumann - Up #4
                </a>
              </h3>
              <p style="font-size: 15px; line-height: 20px; margin: 0 0 10px;">
                17.06.2021 › 04.07.2021
              </p>
              <p style="font-size: 14px; line-height: 18px; margin: 0 0 5px;">
                Speaker: Lang/Baumann, duo d'artistes suisses
              </p>
              <p style="font-size: 14px; line-height: 18px; margin: 0;">
                Place and room: <strong>Patio extérieur du Rolex Learning Center</strong>
              </p>
            </td>
          </tr>
          <tr>
            <td style="border: solid #e6e6e6; border-width: 1px 1px 0 1px; padding: 20px 20px 20px 20px;" valign="top" width="100%">
              <a href="https://memento.epfl.ch/event/book-selection-gender-and-diversity-issues-in-arch/">
                <img height="360" src="https://memento.epfl.ch/image/19046/640x360.jpg" style="height: auto; max-width: 100%;" width="640">
              </a>
            </td>
          </tr>
          <tr>
            <td style="border: solid #e6e6e6; border-width: 0 1px 1px 1px; padding: 0 20px 20px 20px;" valign="top" width="100%">
              <h3 style="font-size: 18px; font-weight: bold; line-height: 24px; margin: 0 0 10px 0;">
                <a href="https://memento.epfl.ch/event/book-selection-gender-and-diversity-issues-in-arch/" style="color: #212121; text-decoration: underline; text-decoration-color: #ff0000;">
                  Book selection: Gender and diversity issues in architecture
                </a>
              </h3>
              <p style="font-size: 15px; line-height: 20px; margin: 0 0 10px;">
                05.05.2021 › 31.05.2021 – 07:00 › 23:59
              </p>
              <p style="font-size: 14px; line-height: 18px; margin: 0;">
                Place and room: <strong>Bibliothèque de l'EPFL</strong>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    {{> includes/spacer }}
    {{> includes/copyright }}
    {{> includes/unsubscribe }}

  {{/inline}}

{{/layouts/base}}
