<tr>
  <td>
    <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
      <tr>
        {{> includes/logo }}
        {{> includes/app-title }}
      </tr>
    </table>
  </td>
</tr>
