<tr>
  <td style="background: #e6e6e6; padding: 5px 0; text-align: center;">
    <p style="font-size: 13px; line-height: 17px; margin: 0; text-align: center;">
      <a href="https://www.epfl.ch" style="color: #707070; text-decoration: underline;">
        Online version
      </a>
    </p>
  </td>
</tr>
