<tr>
  <td style="background: #e6e6e6;">
    <table style="border-collapse: collapse; max-width: 640px; width: 100%;" width="100%">
      <tr>
        <td align="center" style="padding: 0 20px 20px; text-align: center;">
          <p style="color: #707070; font-size: 13px; font-style: italic; line-height: 17px; margin: 0; text-align: center;">
            If you want to unsubscribe to newsletters, click on <br>
            <a href="https://www.epfl.ch" style="color: #707070; text-decoration: underline;">unsubscribe</a>.
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
